<!DOCTYPE html>
<html ng-app="gemStore">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/indexStyles.css" rel="stylesheet">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="28.js"></script>
</head>

<body class="list-group" ng-controller="StoreController as store">
    <body class="list-group" ng-controller="StoreController as store">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <a href="../../index.html" class="navbar-brand">Parent</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="../index.html">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 1<b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="../challenge1/14.html">Challenge 1.4</a></li>
                            <li><a href="../challenge1/16.html">Challenge 1.6</a></li>
                            <li><a href="../challenge1/17.html">Challenge 1.7</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 2<b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            <li><a href="22.html">Challenge 2.2</a></li>
                            <li><a href="23.html">Challenge 2.3</a></li>
                            <li><a href="24.html">Challenge 2.4</a></li>
                            <li><a href="25.html">Challenge 2.5</a></li>
                            <li><a href="27.html">Challenge 2.7</a></li>
                            <li><a href="28.html">Challenge 2.8</a></li>
                            <li><a href="29.html">Challenge 2.9</a></li>
                            <li><a href="210.html">Challenge 2.10</a></li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 3<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="../challenge3/32.html">Challenge 3.2</a></li>
                            <li><a href="../challenge3/33.html">Challenge 3.3</a></li>
                            <li><a href="../challenge3/34.html">Challenge 3.4</a></li>
                            <li><a href="../challenge3/36.html">Challenge 3.6</a></li>
                            <li><a href="../challenge3/37.html">Challenge 3.7</a></li>
                            <li><a href="../challenge3/39.html">Challenge 3.9</a></li>
                            <li><a href="../challenge3/310.html">Challenge 3.10</a></li>
                            <li><a href="../challenge3/311.html">Challenge 3.11</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <header>
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">– an Angular store –</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
        <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
        <section ng-show="product.images.length">
            <img ng-src="{{product.images[0]}}" />
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="image in product.images">
                    <img ng-src="{{image}}" />
                </li>
            </ul>
        </section>

        <section class="tab" ng-controller="TabController as tab">
            <ul class="nav nav-pills">
                <li ng-class="{active: tab.isSet(1)}">
                    <a href ng-click="tab.setTab(1)">Description</a></li>
                <li ng-class="{active: tab.isSet(2)}">
                    <a href ng-click="tab.setTab(2)">Specs</a></li>
                <li ng-class="{active: tab.isSet(3)}">
                    <a href ng-click="tab.setTab(3)">Reviews</a></li>
            </ul>
            <div ng-show="tab.isSet(1)">
                <h4>Description</h4>
                <blockquote>{{product.description}}</blockquote>
            </div>
            <div ng-show="tab.isSet(2)">
                <h4>Specs</h4>
                <blockquote>Shine: {{product.shine}}</blockquote>
            </div>
            <div ng-show="tab.isSet(3)">
                <h4>Reviews</h4>
                <blockquote>{{product.reviews}}</blockquote>
            </div>
        </section>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>

</html>