<!DOCTYPE html>
<html ng-app="gemStore">

<head>
    <link rel="stylesheet" type="text/css" href="../bootstrap.min.css" />
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="42.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/indexStyles.css" rel="stylesheet">
</head>

<body ng-controller="StoreController as store">

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <a href="../../index.html" class="navbar-brand">Parent</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="../index.html">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 1<b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="../challenge1/14.html">Challenge 1.4</a></li>
                            <li><a href="../challenge1/16.html">Challenge 1.6</a></li>
                            <li><a href="../challenge1/17.html">Challenge 1.7</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 2<b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            <li><a href="../challenge2/22.html">Challenge 2.2</a></li>
                            <li><a href="../challenge2/23.html">Challenge 2.3</a></li>
                            <li><a href="../challenge2/24.html">Challenge 2.4</a></li>
                            <li><a href="../challenge2/25.html">Challenge 2.5</a></li>
                            <li><a href="../challenge2/27.html">Challenge 2.7</a></li>
                            <li><a href="../challenge2/28.html">Challenge 2.8</a></li>
                            <li><a href="../challenge2/29.html">Challenge 2.9</a></li>
                            <li><a href="../challenge2/210.html">Challenge 2.10</a></li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 3<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="../challenge3/32.html">Challenge 3.2</a></li>
                            <li><a href="../challenge3/33.html">Challenge 3.3</a></li>
                            <li><a href="../challenge3/34.html">Challenge 3.4</a></li>
                            <li><a href="../challenge3/36.html">Challenge 3.6</a></li>
                            <li><a href="../challenge3/37.html">Challenge 3.7</a></li>
                            <li><a href="../challenge3/39.html">Challenge 3.9</a></li>
                            <li><a href="../challenge3/310.html">Challenge 3.10</a></li>
                            <li><a href="../challenge3/311.html">Challenge 3.11</a></li>

                        </ul>
                    </li>

                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 4<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="42.html">Challenge 4.2</a></li>
                            <li><a href="43.html">Challenge 4.3</a></li>
                            <li><a href="44.html">Challenge 4.4</a></li>
                            <li><a href="46.html">Challenge 4.6</a></li>
                            <li><a href="47.html">Challenge 4.7</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenge 5<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="../challenge5/52.html">Challenge 5.2</a></li>
                            <li><a href="../challenge5/54.html">Challenge 5.4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  Store Header  -->
    <header>
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">
        <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in store.products">
            <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

            <!-- Image Gallery  -->
            <div ng-controller="GalleryController as gallery" ng-show="product.images.length">
                <div class="img-wrap">
                    <img ng-src="{{product.images[gallery.current]}}" />
                </div>
                <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                        <img ng-src="{{image}}" />
                    </li>
                </ul>
            </div>

            <!-- Product Tabs  -->
            <section ng-controller="TabController as tab">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:tab.isSet(1) }">
                        <a href ng-click="tab.setTab(1)">Description</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(2) }">
                        <a href ng-click="tab.setTab(2)">Specs</a>
                    </li>
                    <li ng-class="{ active:tab.isSet(3) }">
                        <a href ng-click="tab.setTab(3)">Reviews</a>
                    </li>
                </ul>

                <!--  Description Tab's Content  -->
                <div ng-show="tab.isSet(1)" ng-include="'product-description.html'">

                </div>

                <!--  Spec Tab's Content  -->
                <div ng-show="tab.isSet(2)">
                    <h4>Specs</h4>
                    <ul class="list-unstyled">
                        <li>
                            <strong>Shine</strong> : {{product.shine}}</li>
                        <li>
                            <strong>Faces</strong> : {{product.faces}}</li>
                        <li>
                            <strong>Rarity</strong> : {{product.rarity}}</li>
                        <li>
                            <strong>Color</strong> : {{product.color}}</li>
                    </ul>
                </div>

                <!--  Review Tab's Content  -->
                <div ng-show="tab.isSet(3)">
                    <!--  Product Reviews List -->
                    <ul>
                        <h4>Reviews</h4>
                        <li ng-repeat="review in product.reviews">
                            <blockquote>
                                <strong>{{review.stars}} Stars</strong> {{review.body}}
                                <cite class="clearfix">—{{review.author}}</cite>
                            </blockquote>
                        </li>
                    </ul>

                    <!--  Review Form -->
                    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

                        <!--  Live Preview -->
                        <blockquote>
                            <strong>{{reviewCtrl.review.stars}} Stars</strong> {{reviewCtrl.review.body}}
                            <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                        </blockquote>

                        <!--  Review Form -->
                        <h4>Submit a Review</h4>
                        <fieldset class="form-group">
                            <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                                <option value>Rate the Product</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email"
                            />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                        </fieldset>
                    </form>
                </div>

            </section>
        </div>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>

</html>